<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'templates/styles.css' %}">    
    </head>
    <body>
        <div class="wrap">
            <h1>Your Query</h1>
            <div class='query'>
                <p>PREFIX cidoc:&lt;http://www.cidoc-crm.org/cidoc-crm/&gt;</p>
                <p>{{ prefixadms|safe }}</p>
                <p>{{ prefix|safe }}</p>
                <p>{{ prefixla|safe }}</p>
                <p> SELECT {{count|safe}} {{distinct|safe}} {{ variabletitle|safe }} {{ variablenote|safe }} {{ variableimage|safe }} {{ variableobjectname|safe }} {{ variableobjectnumber|safe }} {{ variableassociatie|safe }}{{ variablevervaardiger|safe }}{{ variabledatum|safe }}{{closecount|safe}} {{ endpoint|safe }}{{ hva|safe }} {{ dmg|safe }} {{ ag|safe }} {{ stam|safe }} {{ im|safe }}</p>
                <p>WHERE {</p>
                <p>{{ title|safe }}</p>
                <p>{{ filtertitle|safe }}</p>
                <p>{{ note|safe }}</p>
                <p>{{ filternote|safe }}</p>
                <p>{{ image|safe }}</p>
                <p>{{ objectname|safe }}</p>
                <p>{{ filterobjectname|safe }}</p>
                <p>{{ associatie|safe }}</p>
                <p>{{ filterassociatie|safe }}</p>
                <p>{{ objectnumber|safe }}</p>
                <p>{{ filterobjectnumber|safe }}</p>
                <p>{{ vervaardiger|safe }}</p>
                <p>{{ filtervervaardiger|safe }}</p>
                <p>{{ datum|safe }}</p>
                <p>{{ filterdatum|safe }}</p>
                <p>} {{limit|safe}}</p>
            </div>
            <h2 class="header">Try it out:</h2>
            <div>
                <a href="https://stad.gent/sparql" class = 'link'>Stad Gent</a>
                <a href="https://query.linkeddatafragments.org/#datasources=https%3A%2F%2Fstad.gent%2Fsparql" class="link" >Comunica</a>
            </div>
            <button onclick="window.location.href=''" class="build">Back</button>
        </div>
    </body>
</html>